<!DOCTYPE html>
<html>
  <head>
    <title>Сторінка зворотнього зв'язку</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../static/files/сторінка_зворотнього_зв_язку/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="../static/data/document.js"></script>
    <script src="../static/files/сторінка_зворотнього_зв_язку/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Page (Group) -->
      <div id="u608" class="ax_default" data-label="Page" data-left="-2.16103162824742E-06" data-top="0" data-width="1920.0000043220632" data-height="1271">

        <!-- Unnamed (Rectangle) -->
        <div id="u609" class="ax_default paragraph">
          <div id="u609_div" class=""></div>
          <div id="u609_text" class="text ">
            <p><span>Форма питань та пропозицій</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u610" class="ax_default paragraph">
          <div id="u610_div" class=""></div>
          <div id="u610_text" class="text ">
            <p><span>Якщо у вас виникли питання, то зв'яжіться з нами. Адміністрація надасть вам відповідь як можна скоріше.</span></p>
          </div>
        </div>

        <!-- Text Field & Floating Label (Filled) (Group) -->
        <div id="u611" class="ax_default" data-label="Text Field &amp; Floating Label (Filled)" data-left="111" data-top="443" data-width="1686" data-height="78">

          <!-- Input Field (Text Field) -->
          <div id="u612" class="ax_default text_field" data-label="Input Field">
            <div id="u612_div" class=""></div>
            <input id="u612_input" type="text" value="" class="u612_input"/>
          </div>

          <!-- Upper Label (Rectangle) -->
          <div id="u613" class="ax_default shape ax_default_hidden selected" data-label="Upper Label" style="display:none; visibility: hidden">
            <div id="u613_div" class="selected"></div>
            <div id="u613_text" class="text ">
              <p><span>Label</span></p>
            </div>
          </div>

          <!-- Lower Label (Rectangle) -->
          <div id="u614" class="ax_default shape" data-label="Lower Label">
            <div id="u614_div" class=""></div>
            <div id="u614_text" class="text ">
              <p><span>Тема</span></p>
            </div>
          </div>
        </div>

        <!-- Text Field & Floating Label (Filled) (Group) -->
        <div id="u615" class="ax_default" data-label="Text Field &amp; Floating Label (Filled)" data-left="111" data-top="553" data-width="1686" data-height="188">

          <!-- Input Field (Text Field) -->
          <div id="u616" class="ax_default text_field" data-label="Input Field">
            <div id="u616_div" class=""></div>
            <input id="u616_input" type="text" value="" class="u616_input"/>
          </div>

          <!-- Upper Label (Rectangle) -->
          <div id="u617" class="ax_default shape ax_default_hidden selected" data-label="Upper Label" style="display:none; visibility: hidden">
            <div id="u617_div" class="selected"></div>
            <div id="u617_text" class="text ">
              <p><span>Label</span></p>
            </div>
          </div>

          <!-- Lower Label (Rectangle) -->
          <div id="u618" class="ax_default shape" data-label="Lower Label">
            <div id="u618_div" class=""></div>
            <div id="u618_text" class="text ">
              <p><span>Питання</span></p>
            </div>
          </div>

          <!-- Input Field (Text Field) -->
          <div id="u619" class="ax_default text_field" data-label="Input Field">
            <div id="u619_div" class=""></div>
            <input id="u619_input" type="text" value="" class="u619_input"/>
          </div>

          <!-- Lower Label (Rectangle) -->
          <div id="u620" class="ax_default shape" data-label="Lower Label">
            <div id="u620_div" class=""></div>
            <div id="u620_text" class="text ">
              <p><span>Email</span></p>
            </div>
          </div>
        </div>

        <!-- Button w/ Trailing Icon (Group) -->
        <div id="u621" class="ax_default" data-label="Button w/ Trailing Icon" data-left="111" data-top="790" data-width="1685" data-height="72">

          <!-- Unnamed (Rectangle) -->
          <div id="u622" class="ax_default primary_button1">
            <div id="u622_div" class=""></div>
            <div id="u622_text" class="text ">
              <p><span>Надіслати</span></p>
            </div>
          </div>
        </div>

        <!-- Footer (Group) -->
        <div id="u623" class="ax_default" data-label="Footer" data-left="-2.16103162824742E-06" data-top="900" data-width="1920.0000043220632" data-height="371">

          <!-- Footer (Group) -->
          <div id="u624" class="ax_default" data-label="Footer" data-left="-2.16103162824742E-06" data-top="900" data-width="1920.0000043220632" data-height="371">

            <!-- Unnamed (Rectangle) -->
            <div id="u625" class="ax_default box_2">
              <div id="u625_div" class=""></div>
              <div id="u625_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u626" class="ax_default paragraph">
              <div id="u626_div" class=""></div>
              <div id="u626_text" class="text ">
                <p><span>Часи роботи call-центру 8:00 - 14:00</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u627" class="ax_default icon">
              <img id="u627_img" class="img " src="../static/images/товари/u158.svg"/>
              <div id="u627_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u628" class="ax_default icon">
              <img id="u628_img" class="img " src="../static/images/товари/u159.svg"/>
              <div id="u628_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u629" class="ax_default icon">
              <img id="u629_img" class="img " src="../static/images/товари/u160.svg"/>
              <div id="u629_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u630" class="ax_default paragraph">
              <div id="u630_div" class=""></div>
              <div id="u630_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u631" class="ax_default paragraph">
              <div id="u631_div" class=""></div>
              <div id="u631_text" class="text ">
                <p><span>Інформація про компанію:</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u632" class="ax_default paragraph">
              <div id="u632_div" class=""></div>
              <div id="u632_text" class="text ">
                <p><span>Про компанію</span></p><p><span>Умови використання сайту</span></p><p><span><br></span></p><p><span><br></span></p><p><span><br></span></p><p><span><br></span></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u633" class="ax_default line1">
              <img id="u633_img" class="img " src="../static/images/товари/u164.svg"/>
              <div id="u633_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u634" class="ax_default paragraph">
              <div id="u634_div" class=""></div>
              <div id="u634_text" class="text ">
                <p><span>© Інтернет-магазин «Пивоварня™»2021–2022&nbsp; ТМ використовується на основі ліцензії правовласника Пивоварня</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u635" class="ax_default icon">
              <img id="u635_img" class="img " src="../static/images/товари/u166.svg"/>
              <div id="u635_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u636" class="ax_default icon">
              <img id="u636_img" class="img " src="../static/images/товари/u167.svg"/>
              <div id="u636_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u637" class="ax_default button">
              <div id="u637_div" class=""></div>
              <div id="u637_text" class="text ">
                <p><span>Є питання?</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u638" class="ax_default paragraph">
              <div id="u638_div" class=""></div>
              <div id="u638_text" class="text ">
                <p><span>+380117548213</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u639" class="ax_default paragraph">
              <div id="u639_div" class=""></div>
              <div id="u639_text" class="text ">
                <p><span>+380342576543</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Header (Group) -->
        <div id="u640" class="ax_default" data-label="Header" data-left="0" data-top="0" data-width="1920" data-height="163">

          <!-- Unnamed (Rectangle) -->
          <div id="u641" class="ax_default box_2">
            <div id="u641_div" class=""></div>
            <div id="u641_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u642" class="ax_default paragraph">
            <img id="u642_img" class="img " src="../static/images/товари/u3.svg"/>
            <div id="u642_text" class="text ">
              <p><span>Пивоварня</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u643" class="ax_default paragraph">
            <div id="u643_div" class=""></div>
            <div id="u643_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Search Input (Group) -->
          <div id="u644" class="ax_default" data-label="Search Input" data-left="1210" data-top="58" data-width="358" data-height="46">

            <!-- Text Input (Text Field) -->
            <div id="u645" class="ax_default text_field" data-label="Text Input">
              <div id="u645_div" class=""></div>
              <input id="u645_input" type="text" value="" class="u645_input"/>
            </div>

            <!-- Search Icon (Shape) -->
            <div id="u646" class="ax_default icon" data-label="Search Icon">
              <img id="u646_img" class="img " src="../static/images/товари/search_icon_u7.svg"/>
              <div id="u646_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Clear (Shape) -->
            <div id="u647" class="ax_default shape ax_default_hidden" data-label="Clear" style="display:none; visibility: hidden">
              <img id="u647_img" class="img " src="../static/images/товари/clear_u8.svg"/>
              <div id="u647_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u648" class="ax_default image">
            <img id="u648_img" class="img " src="../static/images/товари/u9.gif"/>
            <div id="u648_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u649" class="ax_default image">
            <img id="u649_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u649_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u650" class="ax_default image">
            <img id="u650_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u650_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u651" class="ax_default image">
            <img id="u651_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u651_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u652" class="ax_default image">
            <img id="u652_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u652_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u653" class="ax_default image">
            <img id="u653_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u653_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u654" class="ax_default image">
            <img id="u654_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u654_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u655" class="ax_default image">
            <img id="u655_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u655_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u656" class="ax_default image">
            <img id="u656_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u656_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u657" class="ax_default image">
            <img id="u657_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u657_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u658" class="ax_default image">
            <img id="u658_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u658_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u659" class="ax_default image">
            <img id="u659_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u659_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u660" class="ax_default image">
            <img id="u660_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u660_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u661" class="ax_default image">
            <img id="u661_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u661_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u662" class="ax_default image">
            <img id="u662_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u662_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u663" class="ax_default image">
            <img id="u663_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u663_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u664" class="ax_default image">
            <img id="u664_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u664_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u665" class="ax_default image">
            <img id="u665_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u665_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u666" class="ax_default image">
            <img id="u666_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u666_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u667" class="ax_default image">
            <img id="u667_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u667_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u668" class="ax_default image">
            <img id="u668_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u668_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u669" class="ax_default image">
            <img id="u669_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u669_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u670" class="ax_default image">
            <img id="u670_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u670_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u671" class="ax_default image">
            <img id="u671_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u671_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u672" class="ax_default image">
            <img id="u672_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u672_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u673" class="ax_default image">
            <img id="u673_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u673_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u674" class="ax_default image">
            <img id="u674_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u674_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u675" class="ax_default image">
            <img id="u675_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u675_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u676" class="ax_default image">
            <img id="u676_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u676_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u677" class="ax_default image">
            <img id="u677_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u677_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u678" class="ax_default image">
            <img id="u678_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u678_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u679" class="ax_default paragraph">
            <img id="u679_img" class="img " src="../static/images/товари/u40.svg"/>
            <div id="u679_text" class="text ">
              <p><span>Працюємо</span></p><p><span>цілодобово!</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u680" class="ax_default image">
            <img id="u680_img" class="img " src="../static/images/товари/u41.svg"/>
            <div id="u680_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u681" class="ax_default image ax_default_hidden" style="display:none; visibility: hidden">
            <img id="u681_img" class="img " src="../static/images/товари/u42.svg"/>
            <div id="u681_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u682" class="ax_default image">
            <img id="u682_img" class="img " src="../static/images/товари/u43.svg"/>
            <div id="u682_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u683" class="ax_default paragraph ax_default_hidden" style="display:none; visibility: hidden">
            <div id="u683_div" class=""></div>
            <div id="u683_text" class="text ">
              <p><span>Михайло</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Authentication Panels (Group) -->
      <div id="u684" class="ax_default" data-label="Authentication Panels" data-left="1920" data-top="0" data-width="567" data-height="900">

        <!-- Log in Pannel (Group) -->
        <div id="u685" class="ax_default" data-label="Log in Pannel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u686" class="ax_default box_3">
            <div id="u686_div" class=""></div>
            <div id="u686_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u687" class="ax_default image">
            <img id="u687_img" class="img " src="../static/images/товари/u173.png"/>
            <div id="u687_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u688" class="ax_default heading_1">
            <div id="u688_div" class=""></div>
            <div id="u688_text" class="text ">
              <p><span>Вхід</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u689" class="ax_default heading_2">
            <div id="u689_div" class=""></div>
            <div id="u689_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u690" class="ax_default heading_2">
            <div id="u690_div" class=""></div>
            <div id="u690_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u691" class="ax_default heading_3">
            <div id="u691_div" class=""></div>
            <div id="u691_text" class="text ">
              <p><span>Телефон</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u692" class="ax_default heading_3">
            <div id="u692_div" class=""></div>
            <div id="u692_text" class="text ">
              <p><span>Пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u693" class="ax_default button">
            <img id="u693_img" class="img " src="../static/images/товари/u199.svg"/>
            <div id="u693_text" class="text ">
              <p><span>Увійти</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u694" class="ax_default button">
            <img id="u694_img" class="img " src="../static/images/товари/u200.svg"/>
            <div id="u694_text" class="text ">
              <p><span>Зареєструватися</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u695" class="ax_default heading_2">
            <img id="u695_img" class="img " src="../static/images/товари/u201.svg"/>
            <div id="u695_text" class="text ">
              <p><span>Забув пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u696" class="ax_default image">
            <img id="u696_img" class="img " src="../static/images/товари/u202.png"/>
            <div id="u696_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u697" class="ax_default image">
            <img id="u697_img" class="img " src="../static/images/товари/u203.png"/>
            <div id="u697_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Sign up Panel (Group) -->
        <div id="u698" class="ax_default" data-label="Sign up Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u699" class="ax_default box_3">
            <div id="u699_div" class=""></div>
            <div id="u699_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u700" class="ax_default image">
            <img id="u700_img" class="img " src="../static/images/товари/u173.png"/>
            <div id="u700_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u701" class="ax_default heading_1">
            <div id="u701_div" class=""></div>
            <div id="u701_text" class="text ">
              <p><span>Реєстрація</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u702" class="ax_default heading_2">
            <div id="u702_div" class=""></div>
            <div id="u702_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u703" class="ax_default heading_2">
            <div id="u703_div" class=""></div>
            <div id="u703_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u704" class="ax_default heading_3">
            <div id="u704_div" class=""></div>
            <div id="u704_text" class="text ">
              <p><span>Ім'я</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u705" class="ax_default heading_3">
            <div id="u705_div" class=""></div>
            <div id="u705_text" class="text ">
              <p><span>Номер телефону</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u706" class="ax_default button">
            <img id="u706_img" class="img " src="../static/images/товари/u199.svg"/>
            <div id="u706_text" class="text ">
              <p><span>Зареєструватися</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u707" class="ax_default button">
            <img id="u707_img" class="img " src="../static/images/товари/u200.svg"/>
            <div id="u707_text" class="text ">
              <p><span>Вхід</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u708" class="ax_default heading_2">
            <div id="u708_div" class=""></div>
            <div id="u708_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u709" class="ax_default heading_3">
            <div id="u709_div" class=""></div>
            <div id="u709_text" class="text ">
              <p><span>E-mail</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u710" class="ax_default heading_2">
            <div id="u710_div" class=""></div>
            <div id="u710_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u711" class="ax_default heading_3">
            <div id="u711_div" class=""></div>
            <div id="u711_text" class="text ">
              <p><span>Пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u712" class="ax_default heading_2">
            <div id="u712_div" class=""></div>
            <div id="u712_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u713" class="ax_default heading_3">
            <div id="u713_div" class=""></div>
            <div id="u713_text" class="text ">
              <p><span>Повторіть пароль</span></p>
            </div>
          </div>
        </div>

        <!-- Reset password Panel (Group) -->
        <div id="u714" class="ax_default" data-label="Reset password Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u715" class="ax_default box_3">
            <div id="u715_div" class=""></div>
            <div id="u715_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u716" class="ax_default heading_2">
            <div id="u716_div" class=""></div>
            <div id="u716_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u717" class="ax_default image">
            <img id="u717_img" class="img " src="../static/images/товари/u173.png"/>
            <div id="u717_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u718" class="ax_default heading_1">
            <div id="u718_div" class=""></div>
            <div id="u718_text" class="text ">
              <p><span>Сброс паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u719" class="ax_default heading_2">
            <div id="u719_div" class=""></div>
            <div id="u719_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u720" class="ax_default heading_3">
            <div id="u720_div" class=""></div>
            <div id="u720_text" class="text ">
              <p><span>Або</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u721" class="ax_default heading_3">
            <div id="u721_div" class=""></div>
            <div id="u721_text" class="text ">
              <p><span>E-mail</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u722" class="ax_default button">
            <img id="u722_img" class="img " src="../static/images/товари/u228.svg"/>
            <div id="u722_text" class="text ">
              <p><span>Сброс паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u723" class="ax_default image">
            <img id="u723_img" class="img " src="../static/images/товари/u229.png"/>
            <div id="u723_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u724" class="ax_default heading_2">
            <div id="u724_div" class=""></div>
            <div id="u724_text" class="text ">
              <p><span>Ми надішлемо код для скидання паролю у СМС на ваш номер телефону або на електронну пошту</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u725" class="ax_default heading_3">
            <div id="u725_div" class=""></div>
            <div id="u725_text" class="text ">
              <p><span>Номер телефону</span></p>
            </div>
          </div>
        </div>

        <!-- New password Panel (Group) -->
        <div id="u726" class="ax_default" data-label="New password Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u727" class="ax_default box_3">
            <div id="u727_div" class=""></div>
            <div id="u727_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u728" class="ax_default heading_2">
            <div id="u728_div" class=""></div>
            <div id="u728_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u729" class="ax_default image">
            <img id="u729_img" class="img " src="../static/images/товари/u173.png"/>
            <div id="u729_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u730" class="ax_default heading_1">
            <div id="u730_div" class=""></div>
            <div id="u730_text" class="text ">
              <p><span>Зміна паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u731" class="ax_default heading_2">
            <div id="u731_div" class=""></div>
            <div id="u731_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u732" class="ax_default heading_3">
            <div id="u732_div" class=""></div>
            <div id="u732_text" class="text ">
              <p><span>Підтвердіть пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u733" class="ax_default button">
            <img id="u733_img" class="img " src="../static/images/товари/u228.svg"/>
            <div id="u733_text" class="text ">
              <p><span>Підтвердити</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u734" class="ax_default heading_3">
            <div id="u734_div" class=""></div>
            <div id="u734_text" class="text ">
              <p><span>Введіть новий пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u735" class="ax_default heading_2">
            <div id="u735_div" class=""></div>
            <div id="u735_text" class="text ">
              <p><span>Придумайте новий пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u736" class="ax_default heading_2">
            <div id="u736_div" class=""></div>
            <div id="u736_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u737" class="ax_default heading_3">
            <div id="u737_div" class=""></div>
            <div id="u737_text" class="text ">
              <p><span>Введіть код для скидання паролю</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
