<!DOCTYPE html>
<html>
  <head>
    <title>Один товар</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../static/files/один_товар/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="../static/data/document.js"></script>
    <script src="../static/files/один_товар/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Page (Group) -->
      <div id="u244" class="ax_default" data-label="Page" data-left="-2.1610315580850113E-06" data-top="0" data-width="1920.0000043220632" data-height="1443">

        <!-- Main (Group) -->
        <div id="u245" class="ax_default" data-label="Main" data-left="118" data-top="212" data-width="1740" data-height="860">

          <!-- Unnamed (Rectangle) -->
          <div id="u246" class="ax_default box_3">
            <div id="u246_div" class=""></div>
            <div id="u246_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u247" class="ax_default heading_1">
            <div id="u247_div" class=""></div>
            <div id="u247_text" class="text ">
              <p><span>ПИВО «PORTER»</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u248" class="ax_default paragraph">
            <div id="u248_div" class=""></div>
            <div id="u248_text" class="text ">
              <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u249" class="ax_default heading_1">
            <div id="u249_div" class=""></div>
            <div id="u249_text" class="text ">
              <p><span>Ціна</span></p>
            </div>
          </div>

          <!-- Pints (Rectangle) -->
          <div id="u250" class="ax_default heading_1" data-label="Pints">
            <div id="u250_div" class=""></div>
            <div id="u250_text" class="text ">
              <p><span>1л</span></p>
            </div>
          </div>

          <!-- Price (Rectangle) -->
          <div id="u251" class="ax_default heading_2" data-label="Price">
            <div id="u251_div" class=""></div>
            <div id="u251_text" class="text ">
              <p><span>75 грн</span></p>
            </div>
          </div>

          <!-- Discard (Rectangle) -->
          <div id="u252" class="ax_default heading_2" data-label="Discard">
            <div id="u252_div" class=""></div>
            <div id="u252_text" class="text ">
              <p><span>- 0%</span></p>
            </div>
          </div>

          <!-- Favorite Button (Group) -->
          <div id="u253" class="ax_default" data-label="Favorite Button" data-left="725" data-top="280" data-width="49" data-height="49">

            <!-- Background Ellipse (Ellipse) -->
            <div id="u254" class="ax_default ellipse" data-label="Background Ellipse">
              <img id="u254_img" class="img " src="../static/images/товари/background_ellipse_u57.svg"/>
              <div id="u254_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u255" class="ax_default shape">
              <img id="u255_img" class="img " src="../static/images/товари/u58.svg"/>
              <div id="u255_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Input Stepper (Group) -->
          <div id="u256" class="ax_default" data-label="Input Stepper" data-left="960" data-top="607" data-width="562" data-height="70">

            <!-- Unnamed (Shape) -->
            <div id="u257" class="ax_default box_1">
              <img id="u257_img" class="img " src="../static/images/один_товар/u257.svg"/>
              <div id="u257_text" class="text ">
                <p style="font-size:20px;"><span style="font-family:&quot;Roboto Medium&quot;, &quot;Roboto&quot;, sans-serif;font-weight:500;">ПИВО «PORTER»</span></p><p style="font-size:18px;"><span style="font-family:&quot;Roboto&quot;, sans-serif;font-weight:400;color:#8C8C8C;">Кількість</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u258" class="ax_default" data-left="1402" data-top="627" data-width="100" data-height="30">

              <!-- Plus (Group) -->
              <div id="u259" class="ax_default" data-label="Plus" data-left="1472" data-top="627" data-width="30" data-height="30">

                <!-- Unnamed (Ellipse) -->
                <div id="u260" class="ax_default ellipse">
                  <img id="u260_img" class="img " src="../static/images/один_товар/u260.svg"/>
                  <div id="u260_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u261" class="ax_default line2">
                  <img id="u261_img" class="img " src="../static/images/один_товар/u261.svg"/>
                  <div id="u261_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Minus (Group) -->
              <div id="u262" class="ax_default" data-label="Minus" data-left="1402" data-top="627" data-width="30" data-height="30">

                <!-- Unnamed (Ellipse) -->
                <div id="u263" class="ax_default ellipse disabled">
                  <img id="u263_img" class="img " src="../static/images/один_товар/u260_disabled.svg"/>
                  <div id="u263_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u264" class="ax_default line2 disabled">
                  <img id="u264_img" class="img " src="../static/images/один_товар/u264_disabled.svg"/>
                  <div id="u264_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Quantity Display (Rectangle) -->
              <div id="u265" class="ax_default box_2" data-label="Quantity Display">
                <div id="u265_div" class=""></div>
                <div id="u265_text" class="text ">
                  <p><span>0</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u266" class="ax_default image">
            <img id="u266_img" class="img " src="../static/images/товари/u84.png"/>
            <div id="u266_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u267" class="ax_default heading_1">
            <div id="u267_div" class=""></div>
            <div id="u267_text" class="text ">
              <p><span>Опис</span></p>
            </div>
          </div>

          <!-- Small quantity (Group) -->
          <div id="u268" class="ax_default" data-label="Small quantity" data-left="516" data-top="791" data-width="90" data-height="73">

            <!-- Unnamed (Rectangle) -->
            <div id="u269" class="ax_default heading_2">
              <div id="u269_div" class=""></div>
              <div id="u269_text" class="text ">
                <p><span>0.5л</span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u270" class="ax_default image">
              <img id="u270_img" class="img " src="../static/images/один_товар/u270.jpg"/>
              <div id="u270_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Medium quantity (Group) -->
          <div id="u271" class="ax_default" data-label="Medium quantity" data-left="606" data-top="759" data-width="87" data-height="105">

            <!-- Unnamed (Image) -->
            <div id="u272" class="ax_default image">
              <img id="u272_img" class="img " src="../static/images/один_товар/u272.jpg"/>
              <div id="u272_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u273" class="ax_default paragraph">
              <div id="u273_div" class=""></div>
              <div id="u273_text" class="text ">
                <p><span>1л</span></p>
              </div>
            </div>
          </div>

          <!-- Big quantity (Group) -->
          <div id="u274" class="ax_default" data-label="Big quantity" data-left="693" data-top="726" data-width="105" data-height="138">

            <!-- Unnamed (Image) -->
            <div id="u275" class="ax_default image">
              <img id="u275_img" class="img " src="../static/images/один_товар/u275.jpg"/>
              <div id="u275_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u276" class="ax_default paragraph">
              <div id="u276_div" class=""></div>
              <div id="u276_text" class="text ">
                <p><span>5л</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u277" class="ax_default primary_button1">
            <div id="u277_div" class=""></div>
            <div id="u277_text" class="text ">
              <p><span>Придбати зараз</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u278" class="ax_default primary_button1">
            <div id="u278_div" class=""></div>
            <div id="u278_text" class="text ">
              <p><span>Додати у кошик</span></p>
            </div>
          </div>
        </div>

        <!-- Footer (Group) -->
        <div id="u279" class="ax_default" data-label="Footer" data-left="-2.1610315580850113E-06" data-top="1072" data-width="1920.0000043220632" data-height="371">

          <!-- Footer (Group) -->
          <div id="u280" class="ax_default" data-label="Footer" data-left="-2.1610315580850113E-06" data-top="1072" data-width="1920.0000043220632" data-height="371">

            <!-- Unnamed (Rectangle) -->
            <div id="u281" class="ax_default box_2">
              <div id="u281_div" class=""></div>
              <div id="u281_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u282" class="ax_default paragraph">
              <div id="u282_div" class=""></div>
              <div id="u282_text" class="text ">
                <p><span>Часи роботи call-центру 8:00 - 14:00</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u283" class="ax_default icon">
              <img id="u283_img" class="img " src="../static/images/товари/u158.svg"/>
              <div id="u283_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u284" class="ax_default icon">
              <img id="u284_img" class="img " src="../static/images/товари/u159.svg"/>
              <div id="u284_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u285" class="ax_default icon">
              <img id="u285_img" class="img " src="../static/images/товари/u160.svg"/>
              <div id="u285_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u286" class="ax_default paragraph">
              <div id="u286_div" class=""></div>
              <div id="u286_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u287" class="ax_default paragraph">
              <div id="u287_div" class=""></div>
              <div id="u287_text" class="text ">
                <p><span>Інформація про компанію:</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u288" class="ax_default paragraph">
              <div id="u288_div" class=""></div>
              <div id="u288_text" class="text ">
                <p><span>Про компанію</span></p><p><span>Умови використання сайту</span></p><p><span><br></span></p><p><span><br></span></p><p><span><br></span></p><p><span><br></span></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u289" class="ax_default line1">
              <img id="u289_img" class="img " src="../static/images/товари/u164.svg"/>
              <div id="u289_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u290" class="ax_default paragraph">
              <div id="u290_div" class=""></div>
              <div id="u290_text" class="text ">
                <p><span>© Інтернет-магазин «Пивоварня™»2021–2022&nbsp; ТМ використовується на основі ліцензії правовласника Пивоварня</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u291" class="ax_default icon">
              <img id="u291_img" class="img " src="../static/images/товари/u166.svg"/>
              <div id="u291_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u292" class="ax_default icon">
              <img id="u292_img" class="img " src="../static/images/товари/u167.svg"/>
              <div id="u292_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u293" class="ax_default button">
              <div id="u293_div" class=""></div>
              <div id="u293_text" class="text ">
                <p><span>Є питання?</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u294" class="ax_default paragraph">
              <div id="u294_div" class=""></div>
              <div id="u294_text" class="text ">
                <p><span>+380117548213</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u295" class="ax_default paragraph">
              <div id="u295_div" class=""></div>
              <div id="u295_text" class="text ">
                <p><span>+380342576543</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Header (Group) -->
        <div id="u296" class="ax_default" data-label="Header" data-left="0" data-top="0" data-width="1920" data-height="163">

          <!-- Unnamed (Rectangle) -->
          <div id="u297" class="ax_default box_2">
            <div id="u297_div" class=""></div>
            <div id="u297_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u298" class="ax_default paragraph">
            <img id="u298_img" class="img " src="../static/images/товари/u3.svg"/>
            <div id="u298_text" class="text ">
              <p><span>Пивоварня</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u299" class="ax_default paragraph">
            <div id="u299_div" class=""></div>
            <div id="u299_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Search Input (Group) -->
          <div id="u300" class="ax_default" data-label="Search Input" data-left="1210" data-top="58" data-width="358" data-height="46">

            <!-- Text Input (Text Field) -->
            <div id="u301" class="ax_default text_field" data-label="Text Input">
              <div id="u301_div" class=""></div>
              <input id="u301_input" type="text" value="" class="u301_input"/>
            </div>

            <!-- Search Icon (Shape) -->
            <div id="u302" class="ax_default icon" data-label="Search Icon">
              <img id="u302_img" class="img " src="../static/images/товари/search_icon_u7.svg"/>
              <div id="u302_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Clear (Shape) -->
            <div id="u303" class="ax_default shape ax_default_hidden" data-label="Clear" style="display:none; visibility: hidden">
              <img id="u303_img" class="img " src="../static/images/товари/clear_u8.svg"/>
              <div id="u303_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u304" class="ax_default image">
            <img id="u304_img" class="img " src="../static/images/товари/u9.gif"/>
            <div id="u304_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u305" class="ax_default image">
            <img id="u305_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u305_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u306" class="ax_default image">
            <img id="u306_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u306_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u307" class="ax_default image">
            <img id="u307_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u307_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u308" class="ax_default image">
            <img id="u308_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u308_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u309" class="ax_default image">
            <img id="u309_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u309_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u310" class="ax_default image">
            <img id="u310_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u310_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u311" class="ax_default image">
            <img id="u311_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u311_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u312" class="ax_default image">
            <img id="u312_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u312_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u313" class="ax_default image">
            <img id="u313_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u313_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u314" class="ax_default image">
            <img id="u314_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u314_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u315" class="ax_default image">
            <img id="u315_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u315_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u316" class="ax_default image">
            <img id="u316_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u316_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u317" class="ax_default image">
            <img id="u317_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u317_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u318" class="ax_default image">
            <img id="u318_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u318_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u319" class="ax_default image">
            <img id="u319_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u319_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u320" class="ax_default image">
            <img id="u320_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u320_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u321" class="ax_default image">
            <img id="u321_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u321_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u322" class="ax_default image">
            <img id="u322_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u322_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u323" class="ax_default image">
            <img id="u323_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u323_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u324" class="ax_default image">
            <img id="u324_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u324_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u325" class="ax_default image">
            <img id="u325_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u325_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u326" class="ax_default image">
            <img id="u326_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u326_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u327" class="ax_default image">
            <img id="u327_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u327_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u328" class="ax_default image">
            <img id="u328_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u328_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u329" class="ax_default image">
            <img id="u329_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u329_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u330" class="ax_default image">
            <img id="u330_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u330_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u331" class="ax_default image">
            <img id="u331_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u331_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u332" class="ax_default image">
            <img id="u332_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u332_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u333" class="ax_default image">
            <img id="u333_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u333_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u334" class="ax_default image">
            <img id="u334_img" class="img " src="../static/images/товари/u10.svg"/>
            <div id="u334_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u335" class="ax_default paragraph">
            <img id="u335_img" class="img " src="../static/images/товари/u40.svg"/>
            <div id="u335_text" class="text ">
              <p><span>Працюємо</span></p><p><span>цілодобово!</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u336" class="ax_default image">
            <img id="u336_img" class="img " src="../static/images/товари/u41.svg"/>
            <div id="u336_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u337" class="ax_default image ax_default_hidden" style="display:none; visibility: hidden">
            <img id="u337_img" class="img " src="../static/images/товари/u42.svg"/>
            <div id="u337_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u338" class="ax_default image">
            <img id="u338_img" class="img " src="../static/images/товари/u43.svg"/>
            <div id="u338_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u339" class="ax_default paragraph ax_default_hidden" style="display:none; visibility: hidden">
            <div id="u339_div" class=""></div>
            <div id="u339_text" class="text ">
              <p><span>Михайло</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Authentication Panels (Group) -->
      <div id="u340" class="ax_default" data-label="Authentication Panels" data-left="1920" data-top="0" data-width="567" data-height="900">

        <!-- Log in Pannel (Group) -->
        <div id="u341" class="ax_default" data-label="Log in Pannel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u342" class="ax_default box_3">
            <div id="u342_div" class=""></div>
            <div id="u342_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u343" class="ax_default image">
            <img id="u343_img" class="img " src="../static/images/товари/u173.png"/>
            <div id="u343_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u344" class="ax_default heading_1">
            <div id="u344_div" class=""></div>
            <div id="u344_text" class="text ">
              <p><span>Вхід</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u345" class="ax_default heading_2">
            <div id="u345_div" class=""></div>
            <div id="u345_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u346" class="ax_default heading_2">
            <div id="u346_div" class=""></div>
            <div id="u346_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u347" class="ax_default heading_3">
            <div id="u347_div" class=""></div>
            <div id="u347_text" class="text ">
              <p><span>Телефон</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u348" class="ax_default heading_3">
            <div id="u348_div" class=""></div>
            <div id="u348_text" class="text ">
              <p><span>Пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u349" class="ax_default button">
            <img id="u349_img" class="img " src="../static/images/товари/u199.svg"/>
            <div id="u349_text" class="text ">
              <p><span>Увійти</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u350" class="ax_default button">
            <img id="u350_img" class="img " src="../static/images/товари/u200.svg"/>
            <div id="u350_text" class="text ">
              <p><span>Зареєструватися</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u351" class="ax_default heading_2">
            <img id="u351_img" class="img " src="../static/images/товари/u201.svg"/>
            <div id="u351_text" class="text ">
              <p><span>Забув пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u352" class="ax_default image">
            <img id="u352_img" class="img " src="../static/images/товари/u202.png"/>
            <div id="u352_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u353" class="ax_default image">
            <img id="u353_img" class="img " src="../static/images/товари/u203.png"/>
            <div id="u353_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Sign up Panel (Group) -->
        <div id="u354" class="ax_default" data-label="Sign up Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u355" class="ax_default box_3">
            <div id="u355_div" class=""></div>
            <div id="u355_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u356" class="ax_default image">
            <img id="u356_img" class="img " src="../static/images/товари/u173.png"/>
            <div id="u356_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u357" class="ax_default heading_1">
            <div id="u357_div" class=""></div>
            <div id="u357_text" class="text ">
              <p><span>Реєстрація</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u358" class="ax_default heading_2">
            <div id="u358_div" class=""></div>
            <div id="u358_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u359" class="ax_default heading_2">
            <div id="u359_div" class=""></div>
            <div id="u359_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u360" class="ax_default heading_3">
            <div id="u360_div" class=""></div>
            <div id="u360_text" class="text ">
              <p><span>Ім'я</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u361" class="ax_default heading_3">
            <div id="u361_div" class=""></div>
            <div id="u361_text" class="text ">
              <p><span>Номер телефону</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u362" class="ax_default button">
            <img id="u362_img" class="img " src="../static/images/товари/u199.svg"/>
            <div id="u362_text" class="text ">
              <p><span>Зареєструватися</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u363" class="ax_default button">
            <img id="u363_img" class="img " src="../static/images/товари/u200.svg"/>
            <div id="u363_text" class="text ">
              <p><span>Вхід</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u364" class="ax_default heading_2">
            <div id="u364_div" class=""></div>
            <div id="u364_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u365" class="ax_default heading_3">
            <div id="u365_div" class=""></div>
            <div id="u365_text" class="text ">
              <p><span>E-mail</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u366" class="ax_default heading_2">
            <div id="u366_div" class=""></div>
            <div id="u366_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u367" class="ax_default heading_3">
            <div id="u367_div" class=""></div>
            <div id="u367_text" class="text ">
              <p><span>Пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u368" class="ax_default heading_2">
            <div id="u368_div" class=""></div>
            <div id="u368_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u369" class="ax_default heading_3">
            <div id="u369_div" class=""></div>
            <div id="u369_text" class="text ">
              <p><span>Повторіть пароль</span></p>
            </div>
          </div>
        </div>

        <!-- Reset password Panel (Group) -->
        <div id="u370" class="ax_default" data-label="Reset password Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u371" class="ax_default box_3">
            <div id="u371_div" class=""></div>
            <div id="u371_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u372" class="ax_default heading_2">
            <div id="u372_div" class=""></div>
            <div id="u372_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u373" class="ax_default image">
            <img id="u373_img" class="img " src="../static/images/товари/u173.png"/>
            <div id="u373_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u374" class="ax_default heading_1">
            <div id="u374_div" class=""></div>
            <div id="u374_text" class="text ">
              <p><span>Сброс паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u375" class="ax_default heading_2">
            <div id="u375_div" class=""></div>
            <div id="u375_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u376" class="ax_default heading_3">
            <div id="u376_div" class=""></div>
            <div id="u376_text" class="text ">
              <p><span>Або</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u377" class="ax_default heading_3">
            <div id="u377_div" class=""></div>
            <div id="u377_text" class="text ">
              <p><span>E-mail</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u378" class="ax_default button">
            <img id="u378_img" class="img " src="../static/images/товари/u228.svg"/>
            <div id="u378_text" class="text ">
              <p><span>Сброс паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u379" class="ax_default image">
            <img id="u379_img" class="img " src="../static/images/товари/u229.png"/>
            <div id="u379_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u380" class="ax_default heading_2">
            <div id="u380_div" class=""></div>
            <div id="u380_text" class="text ">
              <p><span>Ми надішлемо код для скидання паролю у СМС на ваш номер телефону або на електронну пошту</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u381" class="ax_default heading_3">
            <div id="u381_div" class=""></div>
            <div id="u381_text" class="text ">
              <p><span>Номер телефону</span></p>
            </div>
          </div>
        </div>

        <!-- New password Panel (Group) -->
        <div id="u382" class="ax_default" data-label="New password Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u383" class="ax_default box_3">
            <div id="u383_div" class=""></div>
            <div id="u383_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u384" class="ax_default heading_2">
            <div id="u384_div" class=""></div>
            <div id="u384_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u385" class="ax_default image">
            <img id="u385_img" class="img " src="../static/images/товари/u173.png"/>
            <div id="u385_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u386" class="ax_default heading_1">
            <div id="u386_div" class=""></div>
            <div id="u386_text" class="text ">
              <p><span>Зміна паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u387" class="ax_default heading_2">
            <div id="u387_div" class=""></div>
            <div id="u387_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u388" class="ax_default heading_3">
            <div id="u388_div" class=""></div>
            <div id="u388_text" class="text ">
              <p><span>Підтвердіть пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u389" class="ax_default button">
            <img id="u389_img" class="img " src="../static/images/товари/u228.svg"/>
            <div id="u389_text" class="text ">
              <p><span>Підтвердити</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u390" class="ax_default heading_3">
            <div id="u390_div" class=""></div>
            <div id="u390_text" class="text ">
              <p><span>Введіть новий пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u391" class="ax_default heading_2">
            <div id="u391_div" class=""></div>
            <div id="u391_text" class="text ">
              <p><span>Придумайте новий пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u392" class="ax_default heading_2">
            <div id="u392_div" class=""></div>
            <div id="u392_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u393" class="ax_default heading_3">
            <div id="u393_div" class=""></div>
            <div id="u393_text" class="text ">
              <p><span>Введіть код для скидання паролю</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
