<!DOCTYPE html>
<html>
  <head>
    <title>Кошик</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/кошик/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/кошик/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Page (Group) -->
      <div id="u394" class="ax_default" data-label="Page" data-left="-2.16103162824742E-06" data-top="0" data-width="1920.0000043220632" data-height="1271">

        <!-- Unnamed (Rectangle) -->
        <div id="u395" class="ax_default paragraph">
          <div id="u395_div" class=""></div>
          <div id="u395_text" class="text ">
            <p><span>КОШИК</span></p>
          </div>
        </div>

        <!-- Main (Group) -->
        <div id="u396" class="ax_default" data-label="Main" data-left="76" data-top="307" data-width="1699" data-height="575">

          <!-- Unnamed (Rectangle) -->
          <div id="u397" class="ax_default flow_shape">
            <div id="u397_div" class=""></div>
            <div id="u397_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u398" class="ax_default paragraph">
            <div id="u398_div" class=""></div>
            <div id="u398_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u399" class="ax_default paragraph">
            <div id="u399_div" class=""></div>
            <div id="u399_text" class="text ">
              <p><span>Пиво &quot;PORTER&quot; </span></p>
            </div>
          </div>

          <!-- Input Stepper (Group) -->
          <div id="u400" class="ax_default" data-label="Input Stepper" data-left="326" data-top="414" data-width="300" data-height="70">

            <!-- Unnamed (Rectangle) -->
            <div id="u401" class="ax_default box_1">
              <div id="u401_div" class=""></div>
              <div id="u401_text" class="text ">
                <p style="font-size:14px;"><span style="font-family:&quot;Roboto Medium&quot;, &quot;Roboto&quot;, sans-serif;font-weight:500;">Кількість</span></p><p style="font-size:12px;"><span style="font-family:&quot;Roboto&quot;, sans-serif;font-weight:400;color:#8C8C8C;">у літрах</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u402" class="ax_default" data-left="506" data-top="434" data-width="100" data-height="30">

              <!-- Plus (Group) -->
              <div id="u403" class="ax_default" data-label="Plus" data-left="576" data-top="434" data-width="30" data-height="30">

                <!-- Unnamed (Ellipse) -->
                <div id="u404" class="ax_default ellipse">
                  <img id="u404_img" class="img " src="images/один_товар/u260.svg"/>
                  <div id="u404_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u405" class="ax_default line2">
                  <img id="u405_img" class="img " src="images/один_товар/u261.svg"/>
                  <div id="u405_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Minus (Group) -->
              <div id="u406" class="ax_default" data-label="Minus" data-left="506" data-top="434" data-width="30" data-height="30">

                <!-- Unnamed (Ellipse) -->
                <div id="u407" class="ax_default ellipse">
                  <img id="u407_img" class="img " src="images/один_товар/u260.svg"/>
                  <div id="u407_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u408" class="ax_default line2">
                  <img id="u408_img" class="img " src="images/один_товар/u264.svg"/>
                  <div id="u408_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>
              </div>

              <!-- Quantity Display (Rectangle) -->
              <div id="u409" class="ax_default box_2" data-label="Quantity Display">
                <div id="u409_div" class=""></div>
                <div id="u409_text" class="text ">
                  <p><span>0</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Cost (Rectangle) -->
          <div id="u410" class="ax_default link_button1" data-label="Cost">
            <div id="u410_div" class=""></div>
            <div id="u410_text" class="text ">
              <p><span>0 грн</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u411" class="ax_default primary_button1">
            <div id="u411_div" class=""></div>
            <div id="u411_text" class="text ">
              <p><span>Замовити</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u412" class="ax_default paragraph">
            <div id="u412_div" class=""></div>
            <div id="u412_text" class="text ">
              <p><span>Усього до сплати</span></p>
            </div>
          </div>

          <!-- General cost (Rectangle) -->
          <div id="u413" class="ax_default link_button1" data-label="General cost">
            <div id="u413_div" class=""></div>
            <div id="u413_text" class="text ">
              <p><span>0 грн</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u414" class="ax_default image">
            <img id="u414_img" class="img " src="images/товари/u84.png"/>
            <div id="u414_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u415" class="ax_default image">
            <img id="u415_img" class="img " src="images/товари/u173.png"/>
            <div id="u415_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Footer (Group) -->
        <div id="u416" class="ax_default" data-label="Footer" data-left="-2.16103162824742E-06" data-top="900" data-width="1920.0000043220632" data-height="371">

          <!-- Unnamed (Rectangle) -->
          <div id="u417" class="ax_default box_2">
            <div id="u417_div" class=""></div>
            <div id="u417_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u418" class="ax_default paragraph">
            <div id="u418_div" class=""></div>
            <div id="u418_text" class="text ">
              <p><span>Часи роботи call-центру 8:00 - 14:00</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u419" class="ax_default icon">
            <img id="u419_img" class="img " src="images/товари/u158.svg"/>
            <div id="u419_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u420" class="ax_default icon">
            <img id="u420_img" class="img " src="images/товари/u159.svg"/>
            <div id="u420_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u421" class="ax_default icon">
            <img id="u421_img" class="img " src="images/товари/u160.svg"/>
            <div id="u421_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u422" class="ax_default paragraph">
            <div id="u422_div" class=""></div>
            <div id="u422_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u423" class="ax_default paragraph">
            <div id="u423_div" class=""></div>
            <div id="u423_text" class="text ">
              <p><span>Інформація про компанію:</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u424" class="ax_default paragraph">
            <div id="u424_div" class=""></div>
            <div id="u424_text" class="text ">
              <p><span>Про компанію</span></p><p><span>Умови використання сайту</span></p><p><span><br></span></p><p><span><br></span></p><p><span><br></span></p><p><span><br></span></p>
            </div>
          </div>

          <!-- Unnamed (Line) -->
          <div id="u425" class="ax_default line1">
            <img id="u425_img" class="img " src="images/товари/u164.svg"/>
            <div id="u425_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u426" class="ax_default paragraph">
            <div id="u426_div" class=""></div>
            <div id="u426_text" class="text ">
              <p><span>© Інтернет-магазин «Пивоварня™»2021–2022&nbsp; ТМ використовується на основі ліцензії правовласника Пивоварня</span></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u427" class="ax_default icon">
            <img id="u427_img" class="img " src="images/товари/u166.svg"/>
            <div id="u427_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u428" class="ax_default icon">
            <img id="u428_img" class="img " src="images/товари/u167.svg"/>
            <div id="u428_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u429" class="ax_default button">
            <div id="u429_div" class=""></div>
            <div id="u429_text" class="text ">
              <p><span>Є питання?</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u430" class="ax_default paragraph">
            <div id="u430_div" class=""></div>
            <div id="u430_text" class="text ">
              <p><span>+380117548213</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u431" class="ax_default paragraph">
            <div id="u431_div" class=""></div>
            <div id="u431_text" class="text ">
              <p><span>+380342576543</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u432" class="ax_default paragraph ax_default_hidden" style="display:none; visibility: hidden">
          <div id="u432_div" class=""></div>
          <div id="u432_text" class="text ">
            <p><span>ТУТ ПОКИ ЩО НІЧОГО НЕМАЄ</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u433" class="ax_default heading_2 ax_default_hidden" style="display:none; visibility: hidden">
          <img id="u433_img" class="img " src="images/кошик/u433.svg"/>
          <div id="u433_text" class="text ">
            <p><span>Повернутися на головну сторінку</span></p>
          </div>
        </div>

        <!-- Header (Group) -->
        <div id="u434" class="ax_default" data-label="Header" data-left="0" data-top="0" data-width="1920" data-height="163">

          <!-- Unnamed (Rectangle) -->
          <div id="u435" class="ax_default box_2">
            <div id="u435_div" class=""></div>
            <div id="u435_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u436" class="ax_default paragraph">
            <img id="u436_img" class="img " src="images/товари/u3.svg"/>
            <div id="u436_text" class="text ">
              <p><span>Пивоварня</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u437" class="ax_default paragraph">
            <div id="u437_div" class=""></div>
            <div id="u437_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Search Input (Group) -->
          <div id="u438" class="ax_default" data-label="Search Input" data-left="1210" data-top="58" data-width="358" data-height="46">

            <!-- Text Input (Text Field) -->
            <div id="u439" class="ax_default text_field" data-label="Text Input">
              <div id="u439_div" class=""></div>
              <input id="u439_input" type="text" value="" class="u439_input"/>
            </div>

            <!-- Search Icon (Shape) -->
            <div id="u440" class="ax_default icon" data-label="Search Icon">
              <img id="u440_img" class="img " src="images/товари/search_icon_u7.svg"/>
              <div id="u440_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Clear (Shape) -->
            <div id="u441" class="ax_default shape ax_default_hidden" data-label="Clear" style="display:none; visibility: hidden">
              <img id="u441_img" class="img " src="images/товари/clear_u8.svg"/>
              <div id="u441_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u442" class="ax_default image">
            <img id="u442_img" class="img " src="images/товари/u9.gif"/>
            <div id="u442_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u443" class="ax_default image">
            <img id="u443_img" class="img " src="images/товари/u10.svg"/>
            <div id="u443_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u444" class="ax_default image">
            <img id="u444_img" class="img " src="images/товари/u10.svg"/>
            <div id="u444_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u445" class="ax_default image">
            <img id="u445_img" class="img " src="images/товари/u10.svg"/>
            <div id="u445_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u446" class="ax_default image">
            <img id="u446_img" class="img " src="images/товари/u10.svg"/>
            <div id="u446_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u447" class="ax_default image">
            <img id="u447_img" class="img " src="images/товари/u10.svg"/>
            <div id="u447_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u448" class="ax_default image">
            <img id="u448_img" class="img " src="images/товари/u10.svg"/>
            <div id="u448_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u449" class="ax_default image">
            <img id="u449_img" class="img " src="images/товари/u10.svg"/>
            <div id="u449_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u450" class="ax_default image">
            <img id="u450_img" class="img " src="images/товари/u10.svg"/>
            <div id="u450_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u451" class="ax_default image">
            <img id="u451_img" class="img " src="images/товари/u10.svg"/>
            <div id="u451_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u452" class="ax_default image">
            <img id="u452_img" class="img " src="images/товари/u10.svg"/>
            <div id="u452_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u453" class="ax_default image">
            <img id="u453_img" class="img " src="images/товари/u10.svg"/>
            <div id="u453_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u454" class="ax_default image">
            <img id="u454_img" class="img " src="images/товари/u10.svg"/>
            <div id="u454_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u455" class="ax_default image">
            <img id="u455_img" class="img " src="images/товари/u10.svg"/>
            <div id="u455_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u456" class="ax_default image">
            <img id="u456_img" class="img " src="images/товари/u10.svg"/>
            <div id="u456_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u457" class="ax_default image">
            <img id="u457_img" class="img " src="images/товари/u10.svg"/>
            <div id="u457_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u458" class="ax_default image">
            <img id="u458_img" class="img " src="images/товари/u10.svg"/>
            <div id="u458_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u459" class="ax_default image">
            <img id="u459_img" class="img " src="images/товари/u10.svg"/>
            <div id="u459_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u460" class="ax_default image">
            <img id="u460_img" class="img " src="images/товари/u10.svg"/>
            <div id="u460_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u461" class="ax_default image">
            <img id="u461_img" class="img " src="images/товари/u10.svg"/>
            <div id="u461_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u462" class="ax_default image">
            <img id="u462_img" class="img " src="images/товари/u10.svg"/>
            <div id="u462_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u463" class="ax_default image">
            <img id="u463_img" class="img " src="images/товари/u10.svg"/>
            <div id="u463_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u464" class="ax_default image">
            <img id="u464_img" class="img " src="images/товари/u10.svg"/>
            <div id="u464_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u465" class="ax_default image">
            <img id="u465_img" class="img " src="images/товари/u10.svg"/>
            <div id="u465_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u466" class="ax_default image">
            <img id="u466_img" class="img " src="images/товари/u10.svg"/>
            <div id="u466_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u467" class="ax_default image">
            <img id="u467_img" class="img " src="images/товари/u10.svg"/>
            <div id="u467_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u468" class="ax_default image">
            <img id="u468_img" class="img " src="images/товари/u10.svg"/>
            <div id="u468_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u469" class="ax_default image">
            <img id="u469_img" class="img " src="images/товари/u10.svg"/>
            <div id="u469_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u470" class="ax_default image">
            <img id="u470_img" class="img " src="images/товари/u10.svg"/>
            <div id="u470_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u471" class="ax_default image">
            <img id="u471_img" class="img " src="images/товари/u10.svg"/>
            <div id="u471_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u472" class="ax_default image">
            <img id="u472_img" class="img " src="images/товари/u10.svg"/>
            <div id="u472_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u473" class="ax_default paragraph">
            <img id="u473_img" class="img " src="images/товари/u40.svg"/>
            <div id="u473_text" class="text ">
              <p><span>Працюємо</span></p><p><span>цілодобово!</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u474" class="ax_default image ax_default_hidden" style="display:none; visibility: hidden">
            <img id="u474_img" class="img " src="images/товари/u41.svg"/>
            <div id="u474_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u475" class="ax_default image">
            <img id="u475_img" class="img " src="images/товари/u42.svg"/>
            <div id="u475_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u476" class="ax_default image">
            <img id="u476_img" class="img " src="images/товари/u43.svg"/>
            <div id="u476_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u477" class="ax_default paragraph ax_default_hidden" style="display:none; visibility: hidden">
            <div id="u477_div" class=""></div>
            <div id="u477_text" class="text ">
              <p><span>Михайло</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Split Button (Group) -->
      <div id="u478" class="ax_default" data-label="Split Button" data-left="0" data-top="0" data-width="0" data-height="0">
      </div>

      <!-- Authentication Panels (Group) -->
      <div id="u479" class="ax_default" data-label="Authentication Panels" data-left="1920" data-top="0" data-width="567" data-height="900">

        <!-- Log in Pannel (Group) -->
        <div id="u480" class="ax_default" data-label="Log in Pannel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u481" class="ax_default box_3">
            <div id="u481_div" class=""></div>
            <div id="u481_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u482" class="ax_default image">
            <img id="u482_img" class="img " src="images/товари/u173.png"/>
            <div id="u482_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u483" class="ax_default heading_1">
            <div id="u483_div" class=""></div>
            <div id="u483_text" class="text ">
              <p><span>Вхід</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u484" class="ax_default heading_2">
            <div id="u484_div" class=""></div>
            <div id="u484_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u485" class="ax_default heading_2">
            <div id="u485_div" class=""></div>
            <div id="u485_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u486" class="ax_default heading_3">
            <div id="u486_div" class=""></div>
            <div id="u486_text" class="text ">
              <p><span>Телефон</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u487" class="ax_default heading_3">
            <div id="u487_div" class=""></div>
            <div id="u487_text" class="text ">
              <p><span>Пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u488" class="ax_default button">
            <img id="u488_img" class="img " src="images/товари/u199.svg"/>
            <div id="u488_text" class="text ">
              <p><span>Увійти</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u489" class="ax_default button">
            <img id="u489_img" class="img " src="images/товари/u200.svg"/>
            <div id="u489_text" class="text ">
              <p><span>Зареєструватися</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u490" class="ax_default heading_2">
            <img id="u490_img" class="img " src="images/товари/u201.svg"/>
            <div id="u490_text" class="text ">
              <p><span>Забув пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u491" class="ax_default image">
            <img id="u491_img" class="img " src="images/товари/u202.png"/>
            <div id="u491_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u492" class="ax_default image">
            <img id="u492_img" class="img " src="images/товари/u203.png"/>
            <div id="u492_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Sign up Panel (Group) -->
        <div id="u493" class="ax_default" data-label="Sign up Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u494" class="ax_default box_3">
            <div id="u494_div" class=""></div>
            <div id="u494_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u495" class="ax_default image">
            <img id="u495_img" class="img " src="images/товари/u173.png"/>
            <div id="u495_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u496" class="ax_default heading_1">
            <div id="u496_div" class=""></div>
            <div id="u496_text" class="text ">
              <p><span>Реєстрація</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u497" class="ax_default heading_2">
            <div id="u497_div" class=""></div>
            <div id="u497_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u498" class="ax_default heading_2">
            <div id="u498_div" class=""></div>
            <div id="u498_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u499" class="ax_default heading_3">
            <div id="u499_div" class=""></div>
            <div id="u499_text" class="text ">
              <p><span>Ім'я</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u500" class="ax_default heading_3">
            <div id="u500_div" class=""></div>
            <div id="u500_text" class="text ">
              <p><span>Номер телефону</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u501" class="ax_default button">
            <img id="u501_img" class="img " src="images/товари/u199.svg"/>
            <div id="u501_text" class="text ">
              <p><span>Зареєструватися</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u502" class="ax_default button">
            <img id="u502_img" class="img " src="images/товари/u200.svg"/>
            <div id="u502_text" class="text ">
              <p><span>Вхід</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u503" class="ax_default heading_2">
            <div id="u503_div" class=""></div>
            <div id="u503_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u504" class="ax_default heading_3">
            <div id="u504_div" class=""></div>
            <div id="u504_text" class="text ">
              <p><span>E-mail</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u505" class="ax_default heading_2">
            <div id="u505_div" class=""></div>
            <div id="u505_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u506" class="ax_default heading_3">
            <div id="u506_div" class=""></div>
            <div id="u506_text" class="text ">
              <p><span>Пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u507" class="ax_default heading_2">
            <div id="u507_div" class=""></div>
            <div id="u507_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u508" class="ax_default heading_3">
            <div id="u508_div" class=""></div>
            <div id="u508_text" class="text ">
              <p><span>Повторіть пароль</span></p>
            </div>
          </div>
        </div>

        <!-- Reset password Panel (Group) -->
        <div id="u509" class="ax_default" data-label="Reset password Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u510" class="ax_default box_3">
            <div id="u510_div" class=""></div>
            <div id="u510_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u511" class="ax_default heading_2">
            <div id="u511_div" class=""></div>
            <div id="u511_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u512" class="ax_default image">
            <img id="u512_img" class="img " src="images/товари/u173.png"/>
            <div id="u512_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u513" class="ax_default heading_1">
            <div id="u513_div" class=""></div>
            <div id="u513_text" class="text ">
              <p><span>Сброс паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u514" class="ax_default heading_2">
            <div id="u514_div" class=""></div>
            <div id="u514_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u515" class="ax_default heading_3">
            <div id="u515_div" class=""></div>
            <div id="u515_text" class="text ">
              <p><span>Або</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u516" class="ax_default heading_3">
            <div id="u516_div" class=""></div>
            <div id="u516_text" class="text ">
              <p><span>E-mail</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u517" class="ax_default button">
            <img id="u517_img" class="img " src="images/товари/u228.svg"/>
            <div id="u517_text" class="text ">
              <p><span>Сброс паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u518" class="ax_default image">
            <img id="u518_img" class="img " src="images/товари/u229.png"/>
            <div id="u518_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u519" class="ax_default heading_2">
            <div id="u519_div" class=""></div>
            <div id="u519_text" class="text ">
              <p><span>Ми надішлемо код для скидання паролю у СМС на ваш номер телефону або на електронну пошту</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u520" class="ax_default heading_3">
            <div id="u520_div" class=""></div>
            <div id="u520_text" class="text ">
              <p><span>Номер телефону</span></p>
            </div>
          </div>
        </div>

        <!-- New password Panel (Group) -->
        <div id="u521" class="ax_default" data-label="New password Panel" data-left="1920" data-top="0" data-width="567" data-height="900">

          <!-- Unnamed (Rectangle) -->
          <div id="u522" class="ax_default box_3">
            <div id="u522_div" class=""></div>
            <div id="u522_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u523" class="ax_default heading_2">
            <div id="u523_div" class=""></div>
            <div id="u523_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Image) -->
          <div id="u524" class="ax_default image">
            <img id="u524_img" class="img " src="images/товари/u173.png"/>
            <div id="u524_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u525" class="ax_default heading_1">
            <div id="u525_div" class=""></div>
            <div id="u525_text" class="text ">
              <p><span>Зміна паролю</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u526" class="ax_default heading_2">
            <div id="u526_div" class=""></div>
            <div id="u526_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u527" class="ax_default heading_3">
            <div id="u527_div" class=""></div>
            <div id="u527_text" class="text ">
              <p><span>Підтвердіть пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u528" class="ax_default button">
            <img id="u528_img" class="img " src="images/товари/u228.svg"/>
            <div id="u528_text" class="text ">
              <p><span>Підтвердити</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u529" class="ax_default heading_3">
            <div id="u529_div" class=""></div>
            <div id="u529_text" class="text ">
              <p><span>Введіть новий пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u530" class="ax_default heading_2">
            <div id="u530_div" class=""></div>
            <div id="u530_text" class="text ">
              <p><span>Придумайте новий пароль</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u531" class="ax_default heading_2">
            <div id="u531_div" class=""></div>
            <div id="u531_text" class="text ">
              <p><span>_________________________</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u532" class="ax_default heading_3">
            <div id="u532_div" class=""></div>
            <div id="u532_text" class="text ">
              <p><span>Введіть код для скидання паролю</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
